@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    margin: 0px;
    padding: 0px;
    transition: .1s;
}

body {
    overflow: hidden;
}

img {
    width: 30px;
}

/*checkbox*/

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 13px;
    width: 13px;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid black;
    border-radius: 20%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #feb700;
}

.option-input:checked::before {
    height: 13px;
    width: 13px;
    position: absolute;
    content: '🦇';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin-top: -3px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #9962DE;
    border-radius: 20%;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
/*checkbox end*/
h3 {
    text-align: center;
    margin-top: 10px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #FFF;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    background-color: #fff;
    padding: 0px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.double {
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.simple {
    /*height:50%;*/
    background-color: #F5F5F5;
    margin-top: 10px !important;
    overflow: auto;
    height:300px;
}

.favs {
    overflow: auto;
    padding-left: 30px;
    margin-bottom: 10px !important;
}

.best {
    margin-right: 20px;
    margin-bottom: 10px !important;
    overflow: scroll;
}

.allCur {
    display: inline-flex;
}

td {
    vertical-align: inherit !important;
}

/*start night mode*/

:root {
    --size: 30px;
    --white: #eaeaea;
    --black: #36393E;
    --yellow: #feb700;
}

.wrapper {
    height: 100vh;
}

.wrapper > span {
    margin-bottom: 10px;
}

.switcher {
    position: fixed;
    top: 2%;
    right: 20px;
    z-index: 1000;
    width: calc(var(--size)*2);
    height: var(--size);
    border-radius: calc(var(--size)/2);
    background-color: var(--white);
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px var(--black);
}

.switcher_circle {
    width: var(--size);
    height: var(--size);
    background-color: #7240AF;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.switcher_checkbox {
    display: none;
}

.switcher_checkbox:checked ~ .wrapper .switcher .switcher_circle {
    left: var(--size);
}
/*change color */
.switcher_checkbox:checked ~ .wrapper {
    background-color: var(--black);
}

.switcher_checkbox:checked ~ .wrapper .nightmode {
    display: block;
    color: white;
}

.switcher_checkbox:checked ~ .wrapper .content {
    background-color: var(--black);
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .simple {
    background-color: var(--black) !important;
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .best {
    background-color: var(--black) !important;
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .favs {
    background-color: var(--black) !important;
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .shadow {
    box-shadow: 0 .5rem 1rem #8E9297 !important;
}

.switcher_checkbox:checked ~ .wrapper .top-row {
    background-color: #1F2225 !important;
}

.switcher_checkbox:checked ~ .wrapper .table {
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .switcher_circle {
    background-color: #FEB700;
}

.switcher_checkbox:checked ~ .wrapper .night {
    background-color: var(--black) !important;
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .rz-tick-text {
    fill: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .rz-legend {
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper .rz-marker {
    color: var(--black) !important;
}

.switcher_checkbox:checked ~ .wrapper .rz-category-axis {
    color: #EAEAEA !important;
}

.switcher_checkbox:checked ~ .wrapper text {
    fill: #EAEAEA !important;
}


.switcher_checkbox_label {
    width: calc(var(--size)*2);
    height: var(--size);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

/*end nightmode*/

.container {
    padding: 30px 0px 0px 0px;
}

.pl-4, .px-4 {
    padding: 0px;
}

.pr-4, .px-4 {
    padding: 0px;
}
/*Form Selection Crypto*/
.selectCrypto {
    border-color: lightgray;
    border-bottom: none;
}
